body{
    margin: 0;
    background-color:black;
    font-family: 'Open Sans', sans-serif;
}
#topo{
    padding-bottom: 40px;
    background-size: cover;
}

.logo img{
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    
}
.conteudo{
    color: aliceblue;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}
.conteudo div{
    float: left;
    width:50%;
    box-sizing: border-box;
    padding-top: 70px;
}
.conteudo h3, .infos h3{
    font-size: 27px;
    color: #9EEE00;
    text-align: center;
    box-sizing: border-box;
    margin: -18px 10px;
    
}
.conteudo img{
    box-sizing: border-box;
    border-radius: 200px;
    margin: 19px 103px;
    max-width: 100%;
    width: 200px;
}
.conteudo p{
    text-align: center;
    color:aliceblue;
    box-sizing: border-box;
    border-radius: 200px;
    margin: 10px 80px;
    font-size:25px;
    
}
.formulario{
    background:#2C3539;
    border:#9EEE00 solid 3px;
    border-radius: 10px;
    padding: 15px;
    width:80%;
    height: 100%;
}
.formulario input[name="nome"],.formulario input[name="email"],.formulario select{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 200px;
    border:0;
    padding: 8px 10px;
    opacity: 0.85;
    box-shadow: inset 0px 1px 4px rgb(0 0 0 / 90%);

}
.formulario label{
    display: block;
    color: #fff;
}
.formulario button[type="submit"]{
    width:80%;
    color:blueviolet;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    margin: 20px auto 10px auto;
    background-color:#0EEE00;
    border-radius: 200px;
    border:none;
    padding:10px 0;
    
}
.destaque{color: #0EEE00;}

.aceite{font-size:20px;}

.conteudo-bottom{
    
    padding: 20px;
    max-width:600px;
    overflow:hidden;
    margin: 0 auto;
    border-top: solid 5px#0EE;
}

.infos{
    text-align: center;
    color: #fff;
}
.infos p{
    margin-top: 60px;
    color: #E3DB14;
    font-size: 20px;
}
.produtos{overflow:hidden;}

.produtos div{
    float:left;
    width:100%;
    box-sizing: border-box;
    text-align: center;
    margin: -18px 10px;
}
.emagrecimento img{
    margin: 9px -59px;
    border:100px;
    

}
.hipertrofia img{
    margin: 9px -59px;
    border:100px;
    

}
.crescimento img{
    margin: 9px -59px;
    border:100px;


}

.produtos img {
    display:block;
    margin: 0 auto;
}

.produtos p{
    text-align: center;
    color: #0EE;
}

@media (max-width: 496px){
    
    .conteudo div{width:100%;}
    .conteudo img{
        width: 82%;
        margin: 19px 42px;
    }
    .emagrecimento img{
        width:100%;
        margin: 16px -20px;
    }
    .hipertrofia img{
        width:100%;
        margin: 16px -20px;
    }
    .crescimento img{
        width:100%;
        margin: 16px -20px;
    }
    .formulario {
        width:90%;
        margin: 10px 7px;
    }
    
    
}